[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
faker = "*"
flask-bcrypt = "*"
flask-cors = "*"
flask-limiter = "*"
requests = "*"
pyjwt = "==2.9.0"

[dev-packages]

[requires]
python_version = "3.8"
